
@{
    Layout = null;
    ViewBag.Title = "Modifikuj";
}

<html>
<head>
    <style type="text/css">
        h1 {
            text-align: center;
            margin-top: 20px;
        }

        h2.fc {
            text-shadow: 1px 1px 1px red, 2px 2px 1px red;
        }

        p.ocena {
            text-decoration: underline blue;
        }

        h2, p {
            margin-left: 40px;
        }

        a.linkZaPocetnu:link, a.linkZaPocetnu:visited {
            background-color: white;
            color: black;
            border: 2px solid red;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            margin-left: 40px;
            float: left;
        }

        a.linkZaPocetnu:hover, a.linkZaPocetnu:active {
            background-color: red;
            color: white;
        }

        #centar {
            margin-left: 80px;
        }
    </style>
</head>
<body>
    <div id="pomeri">
        <h3><a href="~/Home/Index" class="linkZaPocetnu">Vrati se na pocetnu stranicu</a></h3>
        <h3><a href="~/Trener/Index?naziv=@ViewBag.naziv" class="linkZaPocetnu">Nazad na prethodnu stranicu</a></h3>
        <br /><br />
    </div>
    <div id="centar">
        <br />
        <h1>Modifikuj trening</h1>
        <form action="~/Trener/ModifikujTreningTxt" method="post">
            Grupa:<input type="text" name="naziv" /><br />
            Tip treninga u minutama:<input type="text" name="tipTreninga" /><br />
            Trajanje:<input type="text" name="trajanjeTreningaMinute" /><br />
            Datum i vreme odrzavanja:<input type="text" name="datumIVremeTreninga" pattern="^([0123]{1}[0-9]{1}\/[0123]{1}[0-9]{1}\/[2]{1}[0]{1}[0-9]{2}\ [0-9]{2}\:[0-9]{2})" /><br />
            Maksimalan broj posetioca:<input type="number" name="maksimalanBrojPosetioca" /><br /><br />
            <input type="submit" value="Modifikuj trening" />
        </form>
        <h2>@ViewBag.modifikujTrening</h2>
    </div>
</body>
</html>
