
@{
    Layout = null;
    ViewBag.Title = "Home Page";
}

<html>
<head>
    <style type="text/css">
        tr.naslov{
            text-align: center;
        }
        table,th,td{
            border: 1px solid;
        }
        h2{
            color: cadetblue;
        }
        .linkButton {
            background-color: lightgrey;
            color: black;
            text-decoration: none;
            font-family: Arial;
            font-size:15px;
        }
        /*
        a.registracija:link, a.registracija:visited {
            background-color: white;
            color: black;
            border: 2px solid blue;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
        }

        a.registracija:hover, a.registracija:active {
            background-color: blue;
            color: white;
        }
            */
        #first {
            margin-top: 20px;
            margin-left: 40px; /*od ivice*/
            padding-left:10px; /*od ivice diva*/
            padding-right:10px;
            width: auto;
            height: auto;
            float: left;
            /* border: 3px solid red; */
        }

        #second {
            /* border: 3px solid red; */
            float: left;
            height: 800px;
            width: 700px;
            margin-top: 20px;
            margin-left: 200px; /*od ivice*/
            padding-left: 10px; /*od ivice diva*/
            padding-right: 10px;
        }
    </style>
</head>
<body>
    <div id="first">
        <h3>Pretraga</h3>
        <form action="~/Home/Pretraga" method="post">
            Naziv:<input type="text" name="naziv" /><br />
            Adresa:<input type="text" name="adresa" /><br />
            Godina otvaranja od:<input type="text" name="godinaOtvaranjaOd" /><br />
            Godina otvaranja do:<input type="text" name="godinaOtvaranjaDo" /><br />
            <input type="submit" value="Pretrazi" />
        </form><br />

        <h3>Sortiraj</h3>
        <form action="~/Home/Sortiraj" method="post">
            Rastuce <input type="radio" name="sort" value="rastuce" checked="checked" /><br />
            Opadajuce <input type="radio" name="sort" value="opadajuce" /><br />
            <button type="submit" name="submit" value="naziv">Sortiraj po nazivu</button><br />
            <button type="submit" name="submit" value="adresa">Sortiraj po adresi</button><br />
            <button type="submit" name="submit" value="godinaOtvaranja">Sortiraj po godini otvaranja</button><br />
        </form><br />

        <h2>Fitnes centri</h2>
        <form action="~/Home/Detalji" method="post">
            <table>
                <tr class="naslov">
                    <th>Naziv</th>
                    <th>Adresa</th>
                    <th>Godina otvaranja</th>
                    <th></th>
                </tr>
                @foreach (var fitnesCentar in ViewBag.fitnesCentri) //moras inicijalizovati(ili u global.asax) bar 1 ako kaze 'Object reference not set to an instance of an object.'
                {
                    <tr>
                        <td>@fitnesCentar.Naziv</td>
                        <td>@fitnesCentar.Adresa</td>
                        <td>@fitnesCentar.GodinaOtvaranja</td>
                        <td><a class="linkButton" href="/Home/Detalji?naziv=@fitnesCentar.Naziv">Detalji</a></td>
                    </tr>
                }
            </table>
        </form>
    </div>
    <div id="second">
        <form action="~/Home/Registracija" method="post">
            <h1>Registruj novog clana:</h1><br />
            Korisnicko ime:<input type="text" name="korisnickoIme" /><br />
            Lozinka:<input type="password" name="lozinka" /><br />
            Ime:<input type="text" name="ime" /><br />
            Prezime:<input type="text" name="prezime" /><br />
            Pol:<input type="radio" id="muski" name="pol" value="Muski" /><label id="muski">Muski</label>
            <input type="radio" id="zenski" name="pol" value="Zenski" /><label id="zenski">Zenski</label><br />
            Email:<input type="email" name="email" pattern="^[a-zA-Z0-9._+-]+&#64;[a-zA-Z0-9.-]+\.[a-zA-Z]{2,9}$" /><br />
            Datum rodjenja:<input type="date" name="datumRodjenja" /><br /><br />
            <input type="submit" value="Registruj se" />
        </form>
        <h2> @ViewBag.korisnik</h2>
    </div>
</body>
</html>